<div class="text-center show_box">	

<h3 class="padding_title"><u>{{movieData.Title}}</u></h3>

<img ng-src="{{movieData.Poster}}" alt="{{movieData.Poster}}" class="movie_img"/>

<p>Starring: {{movieData.Actors}}</p>
<br>
<p><strong>{{movieData.Plot}}</strong></p>
<br>

<h3><u>Additional Details:</u></h3>
<br>

<h5>Awards:</h5>
<p>{{movieData.Awards}}</p>

<h5 class="padding">Country:</h5>
<p class="padding">{{movieData.Country}}</p>

<h5 class="padding">Director:</h5>
<p class="padding">{{movieData.Director}}</p>

<h5 class="padding">Writer:</h5>
<p class="padding">{{movieData.Writer}}</p>

<h5 class="padding">Year:</h5>
<p class="padding">{{movieData.Year}}</p>

<h5 class="padding">Genre:</h5>
<p class="padding">{{movieData.Genre}}</p>

<h5 class="padding">Language:</h5>
<p class="padding">{{movieData.Language}}</p>

<h5 class="padding">Metascore:</h5>
<p class="padding">{{movieData.Metascore}}</p>

<h5 class="padding">Rated:</h5>
<p class="padding">{{movieData.Rated}}</p>

<h5 class="padding">Released:</h5>
<p class="padding">{{movieData.Released}}</p>

<h5 class="padding">Runtime:</h5>
<p class="padding">{{movieData.Runtime}}</p>

<h5 class="padding">Media Type:</h5>
<p class="padding">{{movieData.Type}}</p>

</div>



