<form class="form-inline">
  <div class="form-group">
    <label>Name</label>
    <input type="text" ng-model="newContact.name" placeholder="name" class="form-control" autofocus >
  </div>
  <div class="form-group">
    <label>Email</label>
    <input type="text" ng-model="newContact.email" placeholder="email" class="form-control">
  </div>
   <div class="form-group">
    <label>Phone</label>
    <input type="text" ng-model="newContact.phone" placeholder="phone#" class="form-control">
  </div>
  <button ng-click="AddContact(newContact)" class="btn btn-success">add contact</button>
</form>

<br>

<form class="form-inline">
  <div class="form-group">
<label>Search: </label>
<input ng-model="search.name" placeholder="by name" class="form-control">
</div>
</form>

<table class="table table-hover">
<thead>
<tr>
	<th>Name</th>
	<th>Email</th>
	<th>Phone #</th>

</tr>
</thead>
<tbody>


<tr ng-repeat="(key, contact) in contactData | filter:search:strict ">
	<td><a ng-href="#/show/{{$index}}" ng-click="FindContacti($index); findGiph(contact.name)">{{contact.name}}</a></td>
    <td>{{contact.email}}</td>
    <td>{{contact.phone}}</td>
    <td><button ng-click="RemoveContact($index)" class="btn btn-danger">Delete</button></td>
    <td>{{$index}}</td>

</tr>

</tbody>
</table>

<form class="form-inline">
  <div class="form-group">
<label>Find Contact: </label>
<input ng-model="name" placeholder="by name" class="form-control">
<button ng-click="FindContact(name)" class="btn btn-primary">GO</button>
</div>
</form>
<br>
<h4>Name: {{found[0].name}}</h4>
<h4>Email: {{found[0].email}}</h4>
<h4>Phone#: {{found[0].phone}}</h4>



