
#mainNav {
    
  border-radius: 0;
  
}

.post {
    
	overflow: hidden;
}

.post_title {

	font-size: 24px;
	font-style: bold;
}

.indent {

	 text-indent: 2em;
	 padding-left: 2em;

}

.padding {

	margin-left: 18em;

}

.small {
	font-size: 10px;
}


.red {
	color: red;
}

.green {
	color: green;
}


.symbol {
    
	font-size: 20px;
}

.post_img {

	height: 260px;
	width: 260px;
	float: left;
	padding-right: 2em;
}



/*********** Animations **********/

/***************************************/

.repeated-item.ng-enter, 
.repeated-item.ng-leave, .repeated-item.ng-move { 
    -webkit-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    position: relative;
    display: block;
} 


.repeated-item.ng-leave.repeated-item.ng-leave-active,
.repeated-item.ng-enter, .repeated-item.ng-move {
    -webkit-transform: rotateX(90deg) rotateZ(90deg);
    -moz-transform: rotateX(90deg) rotateZ(90deg);
    -ms-transform: rotateX(90deg) rotateZ(90deg);
    -o-transform: rotateX(90deg) rotateZ(90deg);
    transform: rotateX(90deg) rotateZ(90deg);
    opacity: 0;
    height: 0px;
}        

.repeated-item.ng-enter.repeated-item.ng-enter-active,
.repeated-item.ng-leave, .repeated-item.ng-move.repeated-item.ng-move-active {
    -webkit-transform: rotateX(0deg) rotateZ(0deg);
    -moz-transform: rotateX(0deg) rotateZ(0deg);
    -ms-transform: rotateX(0deg) rotateZ(0deg);
    -o-transform: rotateX(0deg) rotateZ(0deg);
    transform: rotateX(0deg) rotateZ(0deg);
    opacity: 1;
    height: 30px;
}

