<div ng-controller="MainController">
<div class="row">
<div class="col-md-9">
<h3>My Shopping Cart:</h3>
</div>

<div class="col-md-3">
<h3>Order Total: <span class="green">{{teaCartTotal[0] | currency }}</span></h3>
</div>

</div>

<div class="row">

<div class="col-md-6">
<h5 class="text-center"><u>Product</u></h5>
</div>

<div class="col-md-2">
<h5 class="text-center"><u>Quantity</u></h5>
</div>

<div class="col-md-2">
<h5 class="text-center"><u>Sub-Total</u></h5>
</div>

<div class="col-md-2">

</div>


</div>

<div ng-repeat="tea in teaCart | orderBy:sort | filter:searchText | filter:searchCat:strict">
  
<div class="row">



<!-- Column One -->

<div class="col-md-6 box">
<h4>{{tea.name}}</h4>

<img ng-src="{{tea.imageUrl}}" alt="No Image" class="tea_img">

<p><strong>Price: </strong>{{tea.price | currency }}</p>

<p><strong>Caffeine Scale: </strong>{{tea.caffeineScale}}</p>

<p><strong>Ingredients: </strong>{{tea.ingredients}}</p>

<p><strong>Rating: </strong>{{tea.rating}}</p>

</div>



<!-- Column Two -->


<div class="col-md-2 box">

<h4 class="text-center" ng-show="tea.edit === false">{{tea.quantity | number }}</h4>

<input type="number" ng-show="tea.edit === true" ng-model="tea.quantity" class="top-space">

 </div>



<!-- Column Three -->

<div class="col-md-2 box">

<h4 class="text-center">{{tea.quantity * tea.price | currency }}</h4>

</div>




<!-- Column Four -->

<div class="col-md-2 box">

<button type="button" class="btn btn-warning top-space" ng-show="tea.edit === false" ng-click="tea.edit = true">Edit</button>

<button ng-click="tea.edit = false; FindTotalR(); getTotal()" ng-show="tea.edit === true" type="button" class="btn btn-warning top-space" >Save</button>

<button type="button" class="btn btn-danger top-space" ng-click="Remove($index); getTotal(); FindTotalR()">Remove</button>

</div>

<!-- End Column Section -->




     </div>
   </div>
</div>

