
#mainNav {
    
  border-radius: 0;
  
}

.container {

margin-top: 60px;

}

.indent {

	 text-indent: 2em;
	 padding-left: 2em;

}

.padding {

	margin-left: 18em;

}

.small {
	font-size: 10px;
}


.red {
	color: red;
}

.green {
	color: green;
}

.tea_img {

	float: left;
	padding-right: 2em;
}

.top-space {

	margin-top: 3em;
}


.box {

	border-style: solid;
    border-width: 1px;
    height: 320px;
}

.quantity {

	margin-top: 2em;
}
